@charset 'utf-8';
@import 'the-new-css-reset';

/* Light Mode Colors */
[data-theme='light'] {
  --darkest-text: #2b3442;
  --background: #f6f8ff;
  --text: 217 35% 45%;
  --element-background: #fefefe;
}

/* Dark Mode Colors */
[data-theme='dark'] {
  --darkest-text: #fff;
  --background: #141d2f;
  --text: 0 0% 100%;
  --element-background: #1e2a47;
}

.app {
  --error-text: rgb(247 70 70);
  --bright-blue: rgb(0 121 255);
  --white: #fff;
  --h1: 1.625rem;
  --h2: 1.375rem;
  --h3: 1rem;
  --h4: 0.8125rem;
  --h1-lh: calc(38.51 / 26);
  --h3-lh: calc(23.7 / 16);
  --h4-lh: calc(19.25 / 13);
  --400: 400;
  --700: 700;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  cursor: default;
}